.container {
    height: 100vh;
    width: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    margin: 0;
    text-align: center;
    background-color: #D7BC8C;
    background-image: url('img/Logo white.png');
    background-repeat: repeat;
    background-size: 100px;
}

img {
    max-width: 100%;
    max-height: 100%;
}